<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/styles.css" />
</head>
<body class="worksBody">
    <div class="disco">
    <a href="/home">Go back home</a>
    <a href="https://en.wikipedia.org/wiki/Room_for_Squares" class="album" target="blank">Room for Squares</a>
    <a href="https://en.wikipedia.org/wiki/Heavier_Things"  class="album" target="blank">Heavier Things</a>
    <a href="https://en.wikipedia.org/wiki/Continuum_(John_Mayer_album)" class="album"  target="blank">Continuum</a>
    <a href="https://en.wikipedia.org/wiki/Battle_Studies_(album)" class="album"  target="blank">Battle Studies</a>
    <a href="https://en.wikipedia.org/wiki/Born_and_Raised_(John_Mayer_album)" class="album"  target="blank">Born and Raised</a>
    <a href="https://en.wikipedia.org/wiki/Paradise_Valley_(album)"  class="album" target="blank">Paradise Valley</a>
    <a href="https://en.wikipedia.org/wiki/The_Search_for_Everything" class="album"  target="blank">The Search for Everything</a>
    <a href="https://en.wikipedia.org/wiki/Sob_Rock" class="album"  target="blank">Sob Rock</a>
    </div>


</body>
</html>